
#heading1{
    color: #000;
    font-family: Inter;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration-line: underline;
}
#paragraph{
    #000000
}
#readmore{
    color: #000;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
text-decoration-line: underline;
}
#images{
    color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}

#image{
    width: 1051px;
height: 762px;
top: 874px;
left: 58px;

}

#trivia{
    color: #000;
font-family: Inter;
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
text-decoration-line: underline;
}
#moreimages{
    width: 245px;
height: 48px;
top: 1670px;
left: 58px;
font-family: Inter;
font-size: 40px;
font-weight: 400;
line-height: 48px;
letter-spacing: 0em;
text-align: left;


}